<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Compass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Compass.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="DataMode" serializeAs="String">
                <value>Hex</value>
            </setting>
            <setting name="rbHex" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rbText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rdobtn_deg_min" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rdobtn_decimal" serializeAs="String">
                <value>False</value>
            </setting>
        </Compass.Properties.Settings>
    </userSettings>
</configuration>